@import url('https://fonts.googleapis.com/css2?family=Sarabun:wght@300;600;700&display=swap');

/* Color variables */

:root {
  --primary-color: #e46701;
  --primary-color-dark: #b65303;
  --primary-color-light: #e69e63;
  --primary-color-button-press: #ff9900;
  --secondary-color: #0a0b1d;
  --secondary-color-light: #13165a;
  --tertiary-color: #A2FAA3;
  --primary-text-color: #2e2e2e;
  --secondary-text-color: #f1f1f1;
  --tertiary-text-color: #5053aa;
  --navbar-text-color: #000000;
}

/* General */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Sarabun', sans-serif;
  color: var(--primary-text-color);
  line-height: 1.6;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: var(--secondary-text-color);
}

h1, h2 {
  line-height: 1.2;
  margin: 5px 0;
}

img {
  width: 100%;
}

input {
  padding: 5px 10px;
  border-radius: 10px;
  border: none;
  outline: none; 
}

input:focus {
  outline: none;
}

/* Navbar */

.navbar {
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: var(--primary-color);
  color: var(--secondary-text-color);
  height: 50px;
  letter-spacing: 1px;
  box-shadow: 0 2px 10px 0px rgba(0, 0, 0, 0.2);
}

.navbar a {
  font-size: 1.3rem;
  color: var(--navbar-text-color);
  padding: 0px;
  margin: 0 5px;
}

.navbar a:hover {
  border-bottom: 1px solid var(--navbar-text-color);
}

#logo {
  font-size: 0.5rem;
  width: 80px;
  margin-top: 4px;
}

#logo img {
  width: 40px;
}

#logo:hover {
  border: none;
}

.navbar  {
  border: none;
}

.navbar nav {
  align-self: center;
  margin-left: 10px;
}

.navbar .flex {
  justify-content: start;
}

.searchbox {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  margin: 0 10px 0 30px;
}

.searchbox > input {
  padding: 5px 10px;
  background-color: var(--primary-color-light);
  border-radius: 10px;
  outline: none;
  border: none;
}

.searchbox > input::placeholder {
  color: var(--primary-color-dark);
}

.icon-container {
  display: flex;
  align-items: center;
  border-left: 2px solid var(--navbar-text-color);
  padding-left: 5px;
  height: 70%;
}

.icon-container a:hover {
  border: none;
  margin: none;
}

.navbar .navbar-icon-link {
  margin: 0;
}

.icon-container i {
  margin: 5px 5px;
  font-size: 1.4rem;
  color: var(--navbar-text-color);
}

/* Hero */

.hero {
  position: relative;
  height: 350px;
  background-color: var(--secondary-color);
  color: var(--secondary-text-color);

}

.hero h2 {
  font-size: 3rem;
  font-weight: bold;
  margin: 50px 0 0 0;
  color: var(--primary-color);
}

.hero p {
  font-size: 1.1rem;
  width: 75%;
  margin: 15px auto 15px;
}

.hero a {
  margin: 15px 20px;
  padding: 10px;
}

.hero::before, .hero::after {
  content: '';
  position: absolute;
  height: 50px;
  bottom: -35px;
  right: 0;
  left: 0;
  background: white;
  transform: skewY(-2deg);
}

/* Features */

.quick-features .grid {
  align-items: start;
  margin-top: 100px;
}

.quick-features .grid h3 {
  margin: 0 0 20px;
  color: var(--secondary-color-light);
}

/* Code */

.code {
  margin-top: 100px;
}

.code .grid {
  margin: 0 auto;
  padding: 50px 0;
  width: 90%;
  border-top: 1px solid rgba(10, 11, 29, 0.3);
  border-bottom: 1px solid rgba(10, 11, 29, 0.3);
  grid-template-columns: repeat(6, 1fr);
}

.code .grid > div {
  grid-column: 1 / span 3;
}

.code .grid h3 {
  margin: 0 0 20px;
  color: var(--secondary-color-light);
}

.code .grid > img {
  grid-column: 4 / span 3;
  border-radius: 15px;
}

.code a {
  width: 60%;
  margin: 50px 0;
}

/* Newsletter */

.newsletter {
  padding: 50px 0;
  text-align: center;
}

.newsletter p {
  margin: 20px auto 40px;
  width: 600px;
}

.newsletter form {
  position: relative;
  margin: 0 auto;
  width: 500px;
}

.newsletter input {
  padding: 10px 0 10px 25px;
  width: 500px;
  height: 50px;
  border: 1px solid #ccc;
  border-radius: 25px;
}

.newsletter input::placeholder {
  font-size: 1.2rem;
  color: #aaa;
}

.newsletter button {
  height: 50px;
  width: 30%;
  position: absolute;
  right: 0px;
  background-color: var(--primary-color);
  color: var(--secondary-text-color);
  border: none;
  padding: 15px 30px;
  border-radius: 0 25px 25px 0;
  cursor: pointer;
}

/* Features */

.features {
  background-color: var(--secondary-color);
  padding: 50px 0;
}

.feature-section {
  max-width: 800px;
  margin: 0 auto;
  padding: 25px 20px;
  border-top: 1px solid rgba(146, 80, 36, 0.6);
}

.feature-text {
  padding: 50px 20px;
  grid-column: 1 / span 2;
}

.feature-text-reverse {
  grid-column: 2 / span 2;
}

.features .feature-section:nth-child(1) {
  border-top: none;
}

.features .feature-section:nth-child(4) {
  border-bottom: 1px solid rgba(146, 80, 36, 0.6);
}

/* Call to action */

.cta {
  background-color: var(--secondary-color);
  text-align: center;
  padding-bottom: 50px;
}

/* Footer */

.footer {
  padding: 3rem;
  background: #050505;
  color: var(--secondary-text-color);
}

.footer a:hover {
  color: var(--primary-color);
}

.footer .social {
  text-align: right;
}

.footer .social i {
  margin: 0px 10px;
}

/* DEBUGGING CLASSES */

.pink {
  background-color: pink;
}

.green {
  background-color: green;
}

.red {
  background-color: red;
}

