@import url('https://fonts.googleapis.com/css2?family=Sarabun:wght@300;600;700&display=swap');

/* Color variables */

:root {
  --primary-color: #e46701;
  --primary-color-dark: #b65303;
  --primary-color-light: #e69e63;
  --primary-color-button-press: #ff9900;
  --secondary-color: #0e102c;
  --secondary-color-light: #13165a;
  --tertiary-color: #A2FAA3;
  --primary-text-color: #2e2e2e;
  --secondary-text-color: #f1f1f1;
  --tertiary-text-color: #5053aa;
  --navbar-text-color: #000000;
}

/* General */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Sarabun', sans-serif;
  color: var(--primary-text-color);
  line-height: 1.6;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: var(--secondary-text-color);
}

h1, h2 {
  line-height: 1.2;
  margin: 5px 0;
}

img {
  width: 100%;
}

input {
  padding: 5px 10px;
  border-radius: 10px;
  border: none;
  outline: none; 
}

input:focus {
  outline: none;
}

/* Navbar */

.navbar {
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: var(--primary-color);
  color: var(--secondary-text-color);
  height: 50px;
  letter-spacing: 1px;
  box-shadow: 0 2px 10px 0px rgba(0, 0, 0, 0.2);
}

.navbar .container > a {
  width: 80px;
  margin-top: 5px;
}

.navbar .container > a img {
  width: 40px;
}

.navbar .container > a:hover {
  background: none;
}

.navbar nav {
  width: 100%;
  justify-content: flex-end;
  padding: 1rem 1.5rem;
}

.nav-menu {
  justify-content: space-between;
}

.nav-link {
  font-size: 1.5rem;
  font-weight: 400;
  margin: 0 5px;
  padding: 0px 10px 3px 10px;
  color: var(--navbar-text-color);
}

.nav-link:hover {
  background-color: var(--primary-color-button-press);
  border-radius: 5px;
}

#logo:hover {
  border: none;
}

/* Hero */

.hero {
  position: relative;
  height: 350px;
  background-color: var(--secondary-color);
  color: var(--secondary-text-color);

}

.hero h2 {
  font-size: 3rem;
  font-weight: bold;
  margin: 50px 0 0 0;
  color: var(--primary-color);
}

.hero p {
  font-size: 1.1rem;
  width: 75%;
  margin: 15px auto 15px;
}

.hero a {
  margin: 15px 20px;
  padding: 10px;
}

.hero::before, .hero::after {
  content: '';
  position: absolute;
  height: 50px;
  bottom: -35px;
  right: 0;
  left: 0;
  background: white;
  transform: skewY(-2deg);
}

/* Overview */

.overview .grid {
  align-items: start;
  margin-top: 100px;
}

.overview .grid h3 {
  font-size: 1.1rem;
  margin: 0 0 20px;
  color: var(--secondary-color-light);
}

/* Code */

.code {
  margin-top: 100px;
}

.code .grid {
  margin: 0 auto;
  padding: 50px 0;
  width: 90%;
  border-top: 1px solid rgba(10, 11, 29, 0.3);
  border-bottom: 1px solid rgba(10, 11, 29, 0.3);
  grid-template-columns: repeat(6, 1fr);
}

.code .grid > div {
  grid-column: 1 / span 3;
}

.code .grid h3 {
  margin: 0 0 20px;
  color: var(--secondary-color-light);
}

.code .grid > img {
  grid-column: 4 / span 3;
  border-radius: 15px;
}

.code a {
  font-size: 1rem;
  width: 250px;
  margin: 50px 0;
}

/* Newsletter */

.newsletter {
  padding: 50px 0;
  text-align: center;
}

.newsletter p {
  margin: 20px auto 40px;
  max-width: 600px;
}

.newsletter form {
  position: relative;
  margin: 0 auto;
  width: 500px;
}

.newsletter input {
  padding: 10px 0 10px 25px;
  width: 500px;
  height: 50px;
  border: 1px solid #ccc;
  border-radius: 25px;
}

.newsletter input::placeholder {
  font-size: 1.2rem;
  color: #aaa;
}

.newsletter button {
  height: 50px;
  width: 30%;
  position: absolute;
  right: 0px;
  background-color: var(--primary-color);
  color: var(--secondary-text-color);
  border: none;
  padding: 15px 30px;
  border-radius: 0 25px 25px 0;
  cursor: pointer;
}

/* Features */

.features {
  background-color: var(--secondary-color);
  padding: 50px 0;
}

.feature-section {
  max-width: 800px;
  margin: 0 auto;
  padding: 25px 20px;
  border-top: 1px solid rgba(146, 80, 36, 0.6);
}

.feature-text {
  padding: 50px 20px;
  grid-column: 1 / span 2;
}

.feature-text-reverse {
  grid-column: 2 / span 2;
}

.features .feature-section:nth-child(1) {
  border-top: none;
}

.features .feature-section:nth-child(4) {
  border-bottom: 1px solid rgba(146, 80, 36, 0.6);
}

/* Call to action */

.cta {
  background-color: var(--secondary-color);
  text-align: center;
  padding: 50px 0;
}

/* Header Banner */

.header-banner {
  padding: 10px 0;
  background: var(--secondary-color);
  color: var(--secondary-text-color);
}

/* Features List */

.pack {
  padding: 50px 0;
  border-bottom: 1px solid var(--secondary-color);
}

.features-list i {
  margin: 10px 0;
  padding: 15px;
  background-color: var(--primary-color);
  color: var(--secondary-text-color);
  border-radius: 50%;
}

/* Footer */

.footer {
  padding: 3rem;
  background: #050505;
  color: var(--secondary-text-color);
}

.footer li {
  font-size: 1.3rem;
}

.footer a:hover {
  color: var(--primary-color);
}

.footer .social {
  text-align: right;
}

.footer .social i {
  margin: 0px 10px;
}

/* Animations */

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

.slideInFromLeft {
  animation: slideInFromLeft 0.5s ease-in;
}

.slideInFromRight {
  animation: slideInFromRight 0.5s ease-in;
}

/* Large Tablets */

@media only screen and (max-width: 992px) {

  .code .grid {
    grid-template-columns: 1fr;
  }

  .code .grid {
    grid-template-rows: repeat(2, 1fr);
    gap: 0;
  }

  .code .grid > img {
    width: 60%;
    margin: 0 auto 30px;
    grid-column: auto;
    grid-row: 1;
  }
}

/* Tablets and under */

@media only screen and (max-width: 768px) {

  .nav-menu {
    position: fixed;
    left: -100%;
    top: 50px;
    flex-direction: column;
    background-color: var(--primary-color);
    width: 100%;
    text-align: center;
    transition: 0.3s;
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
  }

  .nav-menu.active {
    left: 0;
  }

  .nav-menu.flex {
    height: auto;
  }

  .nav-item {
    width: 100%;
    border-radius: 0;
  }

  .nav-link {
    display: block;
    margin: 0;
    padding: 1rem 0;
  }

  .nav-link:hover {
    border-radius: 0;
  }

  .grid,
  .overview .grid,
  .features .grid {
    grid-template-columns: 1fr;
    gap: 0;
  }

  .overview {
    text-align: center;
  }

  .overview .grid div {
    padding: 20px 0;
  }

  .code .grid > img {
    width: 80%;
    margin: 0 auto 30px;
    grid-column: auto;
    grid-row: 1;
  }

  .newsletter input,
  .newsletter form {
    width: 400px;
  }

  .newsletter button {
    padding: 0;
    font-size: 0.8rem;
    width: 100px;
  }

  .feature-text {
    padding: 50px 0;
    grid-column: auto;
  }
}

/* Mobile */

@media only screen and (max-width: 500px) {
  .overview .grid {
    margin: 25px;
  }

  .code {
    margin-top: 0;
  }

  .code .grid {
    grid-template-rows: auto;
    padding: 0;
  }

  .code .grid > img {
    margin-top: 40px;
  }

  .newsletter input,
  .newsletter form {
    width: 300px;
  }

  .features {
    padding: 0;
  }

  .footer .grid {
    grid-template-columns: 1fr;
  }

  .footer h1,
  .footer p,
  .footer .social {
    text-align: center;
  }
}
