.container {
  max-width: 1100px;
  margin: 0 auto;
  overflow: auto;
  padding: 0 40px;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.flex-column {
  flex-direction: column;
}

.flex-reverse {
  flex-direction: row-reverse;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.grid-3 {
  grid-template-columns: repeat(3, 1fr);
}

.text-center {
  text-align: center;
}

.white-text {
  color: var(--secondary-text-color);
}

.active-link {
  background-color: var(--primary-color-button-press);
  border-radius: 5px;
}

.btn {
  font-weight: bold;
  display: inline-block;
  padding: 10px 20px;
  background-color: var(--primary-color);
  border: none;
  border-radius: 5px;
  color: var(--secondary-color);}

.btn:hover {
  background-color: var(--primary-color-button-press);
  transition: linear 0.2s;
}

.btn-outline {
  background-color: transparent;
  border: 1px solid var(--primary-color);
  color: var(--secondary-text-color);

}

.btn-outline:hover {
  background-color: var(--primary-color-button-press);
  color: var(--secondary-text-color);
}

.card {
  border-radius: 10px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
  margin: 10px;
}

/* Hamburger Menu */

.hamburger {
  display: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #101010;
}

@media only screen and (max-width: 768px) {
  .hamburger {
    display: block;
    cursor: pointer;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}

@media only screen and (max-width: 450px) {
  .container {
    padding: 0 5px;
  }
}
