.container {
  max-width: 1100px;
  margin: 0 auto;
  overflow: auto;
  padding: 0 40px;
}

.flex {
  display: flex;
  align-items: center;
  height: 100%;
}

.text-center {
  text-align: center;
}